.header {
    margin: 0 auto;
    padding: 10px 50px;
    background-color: #f0f0f0;
    max-width: 1230px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__open {
    display: inline-block;
    margin-top: 10px;
}

.modal-button {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.modal:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition:  opacity 0.5s, visibility 0.5s;
}

.modal:target {
    opacity: 1;
    visibility: visible;
    transition:  opacity 0.5s, visibility 0.5s;
}

.modal-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

.modal__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.modal__close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #315BFB;
    border-radius: 7px;
    flex-direction: column;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin: 40px 50px;
}

.modal__close::before,
.modal__close::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
}

.modal__close::before {
    transform: rotate(40deg);
}

.modal__close::after {
    transform: rotate(-40deg);
}

.modal__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.list {
    margin: 10px 0;
    text-decoration: none;
    border: none;
    font-size: 18px;
    color: #315BFB;
    transition: color 0.3s;
}

.list:hover {
    color: #1d3cbe;
}

/*  */
.logo-icon {
    width: 40px;
    height: 40px;
    background-color: #315BFB;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.logo-icon:hover {
    background-color: #4b6dfb;
    color: #ffffff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.logo-icon .line {
    height: 1px;
    background-color: white;
    margin: 4px 0;
}

.logo-icon .line.short {
    width: 20%;
}

.logo-icon .line.medium {
    width: 35%;
}

.logo-icon .line.long {
    width: 70%;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #315BFB;
    margin-left: 20px;
}

.search__inner {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 30px 10px 20px;
    background-color: #fff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 5px;
}

.search-form__area,
.search-form__genre,
.search-form__keyword {
    display: flex;
    align-items: center;
}

.search-form__divider {
    display: flex;
    width: 1px;
    background-color: #f0f0f0;
    height: 25px;
}

.search-form__area-select,
.search-form__genre-select,
.search-form__keyword-input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-form__keyword-input {
    width: 200px;
}

.fa, .fas {
    color: #777;
}

.modal__close:hover {
    background-color: #4b6dfb;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .header__inner {
        display: block;
    }
}
